body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

code {
  font-family: 'Times New Roman', Times, serif,
    monospace;
}

button {
  font-family: monospace;
  font-size: 30px;
  margin:auto;
  display:flex;
  margin-top: 2%;
}

.input {
  font-family: 'Trebuchet MS', Times, serif;
font-size: 30px;
left: 0;
line-height: 50px;
margin-top: -100px;
text-align: center;
width: 100%;
padding-top: 10%;
}

p, h2 {
font-family: 'Trebuchet MS', Times, serif;
font-size: 30px;
left: 0;
line-height: 50px;
margin-top: -100px;
text-align: center;
width: 100%;
padding-top: 7.5%;
padding-bottom: 1%;
}

img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}

h1 {
    font-family: monospace;
    color: white;
    -webkit-text-stroke: 1px dimgray;
}